   * {
     font-family: monospace;
     font-weight: bold;
   }
   .paper {
    background-color: rgb(248 243 233);
    height: 70rem;
    overflow-y: auto;
    box-shadow: 1px 5px 9px 1px rgba(2, 2, 2, 0.21), 0 5px 21px 0 rgba(3, 3, 3, 0.18);
    z-index: 1;
    padding-left: 3rem;
   }
   .tape {
    background-color: rgb(243 183 182);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    opacity: 40%;
    width: 14rem;
    height: 5rem;
    z-index: 2;
    margin: auto;
    margin-bottom: -2.5rem;
   }
   .noteName {
    margin-top: 10rem;
   }
   .noteDes {
     font-size: large;
    margin-top: 5rem;
   }
   .body {
    height: 40rem;
    overflow-y: auto;
    padding-right: 2.5rem;
   }
   .options {
     text-align: center;
    margin-top: 4rem;
    float: left;
    width: 100%;
    padding-right: 3rem;
    
   }
   .pOptions {
    font-size: large;
   }
   a {
     text-decoration: none;
     font-size: large;
     color: black;
     cursor: pointer;
   }
   