.theBody {
    display: block;
    margin: auto;
    width: 50%;
}
.list {
    float: left;
    width: 50%;
}
.view {
    float: right;
    width: 45%;
}
h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 60px;
  }