<form id="note-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
   <div class="tape"></div>
   <div class="paper">

     <div class="info">
       <h3>New/Edit</h3>
       <div class="alert alert-danger" *ngIf="name.errors?.['required'] || date.errors?.['required'] || description.errors?.['required']">Title, Date, and Note are required.</div>
     </div>
     <div class="body">
      <input
              placeholder="Title"
              type="text"
              id="name"
              class="form-control"
              name="name"
              [ngModel]=note?.name
              size="120"
              max="120"
              required
              #name = "ngModel">
       <input
              placeholder="Date"
              type="text"
              id="date"
              class="form-control"
              name="date"
              [ngModel]=note?.date
              size="150"
              max="255"
              required
              #date = "ngModel">
              <br>
      <textarea
              placeholder="Note"
              rows="14"
              type="text"
              id="description"
              class="form-control"
              name="description"
              [ngModel]=note?.description
              size="120"
              [ngModel]=note?.description
              #description="ngModel"
              max="900"
              required></textarea>
              
     </div>
     <div class="options">
       <button class="btN" type="submit" [disabled]="name.errors?.['required'] || date.errors?.['required'] || description.errors?.['required']">Save</button>
       <button class="btN" type="button" (click)="onCancel()">Cancel</button>
     </div>
   </div>
  </form>